 <!DOCTYPE HTML>
 <html> 
     <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHubQuiz</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
    <body>
        <h1>Hobby Hub</h1>
        <div>
             <ul>
          <li class="navbar" ><a  href="index.html">Home</a></li>
          <li class="navbar"><a class="active" href="hobbyfinderquiz.html">Hobby Finder Quiz</a></li>
          <li class="navbar"><a href="tipsandtricks.html">Tips and Tricks</a></li>
          <li class="navbar"><a href="Howtostart.html">How to Start Your Hobby</a></li>
          <li class="navbar"><a  href="hobbytypes.html">Hobby Categories</a></li>
        </ul>
        </div> <br>
        <div class="divText">
        <h2>Hobby Finder Quiz!</h2>
        <h2 style="font-size:20px;color:black">Hi! Welcome to the quiz! </h2>
        <form method=POST>
        <h3>Where would you like to do this activity?</h3>
         <input type="radio" name="location" value="a"> Outdoors
         <input type="radio" name="location" value="b">Indoors
         <input type="radio" name="location" value="c">No preference
         <input type="radio" name="location" value="d">Both 
        <h3>Do you like to work with your hands?</h3>
         <input type="radio" name="hands" value="a">Yes
         <input type="radio" name="hands" value="b">No
         <input type="radio" name="hands" value="c">I'd be willing to try it
        <h3>Do you like to be active?</h3>
            <input type="radio" name="active" value="a">Yes
            <input type="radio" name="active" value="b">No
            <input type="radio" name="active" value="c">I could try it
        <h3>How do you like to work?</h3>
            <input type="radio" name="work" value="a">Alone
            <input type="radio" name="work" value="b">With Others
            <input type="radio" name="work" value="c">No Preference
        <h3> Do you like to challenge yourself?</h3>
            <input type="radio" name="active" value="a">Yes
            <input type="radio" name="active" value="b">No<br><br>
        <input type="submit" class="button" value="Submit">
        </form>
        </div>
        <br>

        <footer class="footer">
          <p>Created by: Amy Ma, Brynne Bursack, Alice Breternitz</p>
        </footer>
</body>
</html>