 <!DOCTYPE HTML>
 <html> 
     <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHubTips</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
    <body>
        <h1>Hobby Hub</h1>
        <div>
         <ul>
          <li class="navbar" ><a href="index.html">Home</a></li>
          <li class="navbar"><a href="hobbyfinderquiz.html">Hobby Finder Quiz</a></li>
          <li class="navbar"><a class="active" href="tipsandtricks.html">Tips and Tricks</a></li>
          <li class="navbar"><a href="Howtostart.html">How to Start Your Hobby</a></li>
          <li class="navbar"><a  href="hobbytypes.html">Hobby Categories</a></li>
        </ul>
        </div> <br>
        <div class="tricks">
        <h2>Tips and Tricks</h2>
        <ol class="tips">
           <li>Always practice</li> 
           <li>Find others who have similar/the same hobby.</li>
           <li>Profit from your hobby if you are making something. Sites like Etsy, Depop, Society 6 and redbubble let you sell your own art, clothes, and more. </li>
           <li>For affordable supplies search ebay, walmart, thrift stores, </li>
          
        </ol>
        </div>
        <footer class="footer">
          <p>Created by: Amy Ma, Brynne Bursack, Alice Breternitz</p>
        </footer>
</html>